{% extends "index.html" %}
{% block content %}
{% load crispy_forms_tags %}
<section class ="d-flex justify-content-center">
  <div class="card col-sm-7 p-3" >
      <div class="mb-3" style ="text-align: center">
          <h3>Lista de contactos </h3>
      </div>
      <div>  
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Celular</th>
                <th scope="col">Cédula</th>
                <th scope="col">Email</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
            {% for contacto in contactos %}
            <tr>
              <th scope="row">{{ contacto.nombre }}</th>
                <td>{{ contacto.apellido }}</td>
                <td>{{ contacto.celular }}</td>
                <td>{{ contacto.cedula }}</td>
                <td>{{ contacto.email }}</td>
                <td><a class="btn btn-sm btn-warning" href="/edicionContacto/{{contacto.id}}">Editar</a></td>
                <td><a class="btn btn-sm btn-danger" href="/eliminarContacto/{{contacto.id}}">Eliminar</a></td>
              </tr>
            {% endfor %}  
            </tbody>
          </table>
      </div>
  </div>  
</section>
{% endblock %} 